@{
    ViewBag.Title = "Backoffice";
}
<h1>Backoffice</h1>
<a href="~/Views/Backoffice/BackofficePersonajes.cshtml" title="personajes">Personajes</a><br />
<a href="~/Views/Backoffice/BackofficePreguntas.cshtml" title="preguntas">Preguntas</a>