@{
    ViewBag.Title = "Backoffice";
}
<h1>Backoffice</h1>
<a href='@Url.Action("BackofficePersonajes","Backoffice")' title="personajes">Personajes</a><br />
<a href='@Url.Action("BackofficePreguntas","Backoffice")' title="preguntas">Preguntas</a><br />
<a href='@Url.Action("BackofficeCategoria","Backoffice")' title="categoria">categoria</a>
