
@{
    ViewBag.Title = "Home del Juego";
}
<img src="~/App_Data/LOGO_.jpg" alt="Logo" width="300" height="300">


<h2>¿Quien es quien? Version INFO</h2>
<h4>¿Preparado para jugar al juego mas divertido de info?</h4>

<a href='@Url.Action("Login", "Home")' title="Login">Login</a><br />
<a href='@Url.Action("About", "Home")'title="About">About</a><br />
<a href='@Url.Action("registro", "Home")'title="Registro">¿Sos nuevo? Registrate!</a><br />
<a href='@Url.Action("Instrucciones", "Home")'title="Instrucciones">Instrucciones</a><br />   